:host {
  transition: transform 0.5s ease 0s;
  width: 30em;
  .wrapper {
    padding: var(--padding-border-0110);
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    pointer-events: all;
    * {
      grid-column: 1;
    }
    .inner.grid {
      grid-row: 3;
      background-color: var(--dim-gray-glass);
      align-self: stretch;
      border-top: none;
    }
    .dialog[open='true'] {
      grid-row: 2 / 4;
      height: 100%;
    }
    > .icon {
      grid-row: 1;
      align-self: start;
      justify-self: end;
      transform: translate(3em, .3em);
    }
    > .icon[expanded='true'] {
      transform: translate(0, .3em);
    }
  }
}

:host([expanded='true']) {
  .wrapper {
    overflow: hidden;
    .inner.grid {
      overflow: hidden;
    }
  }
}

:host(:not([expanded='true'])) {
  transform: translate(-27em, 0);
  .wrapper {
    transform: translate(-3em, 0);
    .icon {
      grid-row: 1 / 4;
      height: 100%;
    }
  }
}
