.wrapper.grid {
  overflow: scroll;
  font-size: var(--panel-font-size);
  grid-template-rows: auto 1fr;
  padding: var(--gap-tiny);
  border: var(--thin-border);
  border-image: var(--glass-gradient) 1 100%;
}
