/* .ChannelControl {
  width: 80vw;
  margin: auto;
  position: relative;
}

.ChannelControl .RangeForm {
  margin-bottom: 2em;
  padding-left: 3em;
  display: flex;
  width: 100%;
}

.ChannelControl .RangeForm > .slider {
  flex: 1 0 4em;
}

.ChannelControl .RangeForm > input[type="text"] {
  text-align: center;
  width: 4em;
} */

.input-range__track.input-range__track--active,
div.input-range__slider {
  background-color: yellow;
  border-color: yellow;
}

.list-group-item-slider {
  margin-top: 20px;
  background-color: transparent;
}

.list-group-slider {
  background-color: transparent;
  pointer-events: none;
}
