.ChannelSlider {
  display: grid;
  grid-template-columns: 4em 1fr 4em;
}

.ChannelSlider input[type="text"] {
  background: transparent;
  text-align: center;
  display: inline;
  border: none;
  color: white;
  width: 100%;
}

/* Color and space out sliders */
.list-group-item-slider {
  margin-top: 20px;
  background-color: transparent;
}

/* Color and clickthrough most aspects of the sliders */
.list-group-slider {
  background-color: transparent;
  pointer-events: none;
}

/* Color of slider controls  */
.input-range__track.input-range__track--active,
div.input-range__slider {
  background-color: yellow;
  border-color: yellow;
}

/* Retain interactivity in controls while parents have clickthrough */
div.input-range__track,
div.input_range__slider,
div.ColorPickerSwatch,
div.ColorPickerDialog,
input[type="text"]
{
  pointer-events: all;
}

/* Hide tooltip */
span.input-range__label {
  display: none;
}
