.bg-black {
  display: inline-block;
  background: black;
  padding: 0.5em;
  color: white;
}
.ChannelControls {
  padding-bottom: 1em;
  padding-right: 1em;
}
.no-right-padding {
  padding-right: 0px;
}

.font-white {
  color: white;
}
.bg-trans {
  background: rgba(0, 0, 0, .8);
}
.inline-block {
  display: inline-block;
}

.width-100 {
  width: 100%;
}
.height-20vh {
  height: 20vh !important;
}
