#ImageView {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background-color: black;
}
.white-overlay {
  border: 2px solid white;
  background: none;
  position: absolute;
}
.arrow-overlay {
  transform: translate(30.700px,53.174px)rotate(60deg);
}
