/* nav.navbar-default {
  background-color: inherit;
  color: white;
} */

.button-tab-active {
  background-color: white;
}

.button-tab {
  background-color: gray;
}

.renameButton {
  margin-left: -15px;
  margin-top: 36px;
}

.no-pointer {
  pointer-events: None;
}

.all-pointer {
  pointer-events: All;
}

/* Cancel bootstrap .progress class because it conflicts with Semantic UI progress bar */
.progress {
  display: initial;
  height: initial;
  overflow: initial;
  font-size: initial;
  background-color: initial;
  border-radius: initial;
}

.font-white {
  color: white;
}
.bg-trans {
  background: rgba(0, 0, 0, .8);
}
.bg-none {
  background: none;
}

.image-rotation-range {
  width: 100%;
  height: 50px;
}

.exit-button {
  position: fixed;
  top: 0;
  right: 0;
}