/* nav.navbar-default {
  background-color: inherit;
  color: white;
} */

.button-tab-active {
  background-color: white;
}

.button-tab {
  background-color: gray;
}

.renameButton {
  margin-left: -15px;
  margin-top: 36px;
}
