.full {
  margin-right: var(--gap-small);
  grid-column: 1 / -1; 
  grid-row: 1 / -1;
}
.full.text {
  padding-left: var(--gap-small);
  padding-bottom: var(--gap-medium);
}
.full.actions > button {
  padding: 0px;
  border: none;
  height: 100%;
  width: 100%;
}
.end {
  border-bottom: var(--thin-glass-border);
  border-radius: var(--radius-panel-0011);
}
.end[expanded] {
  border-radius: 0;
}
[slot=heading].one-line {
  align-items: center;
}
[slot=heading] {
  grid-template-columns: auto 1fr;
  padding-left: var(--gap-small);
  padding-top: var(--gap-tiny);
  align-items: start;
  .grid {
    gap: var(--gap-small);
    .flex.wrap {
      gap: var(--gap-tiny);
    }
  }
}
.item {
  padding: var(--gap-tiny);
  padding-left: var(--gap-small);
  padding-right: var(--gap-small);
  border-radius: var(--radius-button-1111);
  border: var(--thin-glass-border);
}
