input.button[type='submit'] {
  background-color: var(--dark-main-glass);
  margin-top: var(--gap-medium);
  padding: var(--gap-small);
}
input.button.accept[type='submit'] {
  background-color: var(--dark-accept-color);
}
