@font-face {
  font-family: "lato";
  src: url(/lato.ttf) format("truetype");
}
* {
  --radius-tab-1100: .6em .6em 0 0;
  --radius-panel-0011: 0 0 .6em .6em;
  --padding-border-0110: 0 8px 8px 0;
  --radius-outer-0010: 0 0 20px 0;
  --radius-inner-0010: 0 0 12px 0;
  --radius-button-1111: .4em .4em .4em .4em;
  --radius-notice-1111: .8em .8em .8em .8em;
  --radius-field-1111: .2em .2em .2em .2em;
  --gap-medium: 0.9em;
  --gap-small: 0.6em;
  --gap-tiny: 0.3em;
  --font-size-header: 1.25em;
  --thin-border: 1px solid rgba(255,255,255,0.5);
  --thin-glass-border: 1px solid rgba(255,255,255,0.5);
  --thin-white-shadow: inset 0em -1px rgba(255,255,255,0.5);
  --floating-box-shadow: 0px 4px 16px 4px rgba(0,0,0,0.75);
  --glass-gradient: linear-gradient(
    to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)
  );
  --white-highlight: 
    inset 1.0px 1.0px 1.0px rgba(255, 255, 255, .75);
  --menu-font-size: 0.75em;
  --panel-font-size: 0.75em;
  --light-main-color: rgb(255, 247, 222);
  --light-focus-color: rgb(255, 255, 230);
  --dark-focus-shadow: rgb(22, 16, 0) 0 0 4px;
  --main-color-glass: rgba(40, 40, 140, 0.4);
  --dark-main-glass: rgba(16, 16, 101, 0.4);
  --dark-accept-color: rgb(0, 82, 68);
  --dark-reject-color: rgb(69, 28, 0);
  --white-glass: rgba(200,200,255, 0.1);
  --gray-glass: rgba(32,32,32, 0.4);
  --dark-glass: rgba(16,16,16, 0.4);
  --glass-filter: blur(32px);
}
.contents {
  display: contents;
}
.grid {
  display: grid;
}
.menu.grid {
  grid-auto-flow: column;
}
.start.grid {
  align-items: start;
}
.start.left.grid {
  align-items: start;
  justify-items: start;
}
.center.grid {
  align-items: center;
  justify-items: center;
}
.stretch.grid {
  align-items: stretch;
  justify-items: stretch;
}
.indent {
  padding-left: 1em;
}
button, input[type='submit'] {
	background: none;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
  border: none;
}
.tab {
  box-shadow: var(--thin-white-shadow);
}
input.button, .button, .tab {
  border-top: var(--thin-glass-border);
  border-right: var(--thin-glass-border);
}
input.button, .button {
  border-radius: var(--radius-button-1111);
  border-bottom: var(--thin-glass-border);
  border-left: var(--thin-glass-border);
  padding-bottom: var(--gap-small);
  padding-top: var(--gap-small);
}
.tab {
  border-radius: var(--radius-tab-1100);
  padding-bottom: var(--gap-medium);
  padding-top: var(--gap-medium);
}
